{{ partial "header.html" . }}

{{ $siteScope := . }}

<article class="post first-entry">

    <section class="intro">
        {{ .Content }}
    </section>

    <section class="table-of-contents">
        <h2>Contents</h2>
        <ul>
        {{ range $sectionNum, $content := .Site.Params.content }}
        	{{ $folder := .folder }}
            {{ $section := $siteScope.GetPage (path.Join $folder "_index.md") }}
            <li class='section-header'>
            	{{ partial "section-link-href.html" (dict "sectionNum" (add $sectionNum 1) "title" $section.Title) }}
            </li>

            <ul>
            {{ range $subsectionNum, $subsectionFolder := .subsections }}
            	{{ $subsection := $siteScope.GetPage (path.Join $folder $subsectionFolder "_index.md") }}
                <li>
                	{{ partial "section-link-href.html" (dict "sectionNum" (add $sectionNum 1) "subsectionNum" (add $subsectionNum 1) "title" $subsection.Title) }}
                </li>
            {{ end }}
        	</ul>
        {{ end }}
        </ul>
    </section>

    <section class="content">
    	{{ range $sectionNum, $content := .Site.Params.content }}
    		{{ $folder := .folder }}
            {{ $section := $siteScope.GetPage (path.Join $folder "_index.md") }}
        	<h2 id="{{ chomp (partial "section-link.html" (dict "title" $section.Title)) }}">
        		{{ add $sectionNum 1 }}. {{ $section.Title }}
        	</h2>
        	{{ $section.Content }}

        	{{ range $subsectionNum, $subsectionFolder := .subsections }}
            	{{ $subsection := $siteScope.GetPage (path.Join $folder $subsectionFolder "_index.md") }}
				<h3 id="{{ chomp (partial "section-link.html" (dict "title" $subsection.Title)) }}">
					{{ add $sectionNum 1 }}.{{ add $subsectionNum 1 }}. {{ $subsection.Title }}
				</h3>
                {{ $subsection.Content }}

                {{ range $subsection.Pages }}
                    {{ $lang := .File }}
                    <section class="lang-{{ $lang }}">
                        <h4>
                            {{ $lang }}
                            <div class="permalink"><a href="{{ .Permalink }}">permalink</a></div>
                        </h4>
                        {{ .Content }}
                    </section>
                {{ end }}
            {{ end }}
		{{ end }}
	</section>
</article>

{{ partial "footer.html" . }}
